@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Damion&family=Rubik&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
  --primary-color: #2c2f75;
  --light-color: #ffff;
  --white-font: #ffff;
  --font-secondary: var(--white-font);
}

/* General Style */
body {
  font-family: "Rubik", sans-serif;
}

/* End General Style */


/* Navbar */
header .nav-bg {
  background-color: var(--primary-color);
}


.navbar-nav .ft-light {
  color: var(--font-secondary) !important;
}

.navbar-nav .ft-light:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

/* Phone & Tablet Navbar */
@media (max-width: 991px) {
  .mb-event {
    color: var(--font-secondary);
    border: none;
    margin-left: -12px;
  }
}

/* End Navbar */



/* Homepage Style */
.bg-zoom {
  object-fit: cover;
}

.wd-100 {
  width: 100%;
}

.navbar-space {
  margin-top: 65px;
}

.navbar-space-lg {
  margin-top: 165px;
}

.right-title {
  margin-top: 120px;
}

.spacer-lg {
  margin-top: 5vw;
}

.spacer-md {
  margin-top: 3vw;
}

.spacer-sm {
  margin-top: 1vw;
}

.hero-title {
  font-family: "Damion", cursive;
  font-size: 4vw;
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
}

.title-section {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 991px) {
  .hero-title {
    font-size: 35px;
  }

  .spacer-lg {
    margin-top: 50px;
  }
}


.section-desc {
  text-align: justify;
}

.center-flex {
  justify-content: center;
}

.project-img {
  width: 100%;
  height: 250px;
}

.space-flex {
  gap: 10px;
  margin-top: -5px
}

.navbar-toggler {
  background-color: white !important;
}

.clr-primary {
  color: #2c2f75;
}

.clr-current {
  fill: currentColor;
}

.testimoni-title-left {
  text-align: left;
  font-size: 15px;
  font-weight: 600;
}

.card-project {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid lightgray;
}

.ft-20 {
  font-size: 20px;
}

.date-format {
  font-size: 13px;
  color: #2c2f75;

}

.bg-zoom {
  object-fit: cover;
}

/* End Homepage Style */

#service a {
  text-decoration: none;
  color: #000;
}



.footer {
  background-color: #2c2f75;
  height: 500px;
}

.ls-1 {
  letter-spacing: 1px;
}

.footer-content {
  margin-top: 75px;
  margin-bottom: 25px;
}

.footer-content-title {
  color: #fff;
  font-size: 17px;
  text-align: left;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-content-desc {
  color: #fff;
  letter-spacing: 1px;
  font-size: 12px;
  text-align: justify;
  font-weight: 500;
}

/* Staff NaZMa Office */

/* IT Service */
.card-service {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#service .title-card {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

#service .card-desc {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
}

@media (max-width: 991px) {
  #service .title-card {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
  }

  #service .card-desc {
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.5px;
  }
}

.bg-dark {
  color: white;
}

/* Blog */
.flex-gap {
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.font-sm {
  font-size: 13px;
}

.font-md {
  font-size: 14px;
  color: grey;
  margin-top: -20px;
}

.card-blog {
}

@media (max-width: 600px) {
  .card-blog {
    width: 100%;
  }

}


.bg-pure {
  color: #2c2f75;
  border-color: #2c2f75;
  font-size: 13px;
}

.bg-pure:hover {
  border-color: #2c2f75;
  color: #FFF;
  background-color: #2c2f75;
}

.content {
  display: none;
}

#loadMore {
  display: none;
}

.bg-primary {
  border: none;
  color: #fff;
  background-color: #2c2f75 !important;
}

.noContent {
  display: none !important;
}

.load {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Gallery */
.gallery {
  display: flex;
  padding: 2px;
  transition: 0.3s;
  justify-content: center;
  flex-wrap: wrap;

}

.gallery:hover .gallery__image {
  filter: grayscale(1);
}

.gallery__column {
  display: flex;
  /* width: 100%; */
}

.gallery__link {
  margin: 4px;
  overflow: hidden;
}

.gallery__link:hover .gallery__image {
  filter: grayscale(0);
}

.gallery__link:hover .gallery__caption {
  opacity: 1;
}

.gallery__thumb {
  position: relative;
  width: 300px;
  height: 300px;
}

.gallery__image {
  display: block;
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: 0.3s;
}

.gallery__image:hover {
  transform: scale(1.05);
}

.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}

/* Event */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  font-size: 14px;
  font-style: italic;
}

.input-box {
  position: relative;
}

.input-box i {
  position: absolute;
  right: 13px;
  top: 10px;
  color: #ced4da;
}

@media (max-width: 992px) {
  .verse {
    flex-direction: column-reverse;
  }

  .flex {
    display: block !important;
  }
}

.card-event {
  border-radius: 10px;
  border: 1px solid lightgray;
  margin-bottom: 20px;
  padding: 10px;

}

.event-title {
  font-weight: 600;
  letter-spacing: 0.5px;
}

.event-time {
  color: #2c2f75;
  letter-spacing: 0.5px;
  font-size: 13px;
  font-weight: 700;
}

.event-desc {
  font-size: 13px;
  color: grey;
}

.event-contributor {
  font-size: 13px;
  font-weight: 700;
  margin-top: -10px;
}

.event-price {
  font-size: 14px;
  font-weight: 700;
  margin-top: -10px;
  color: orange;
  letter-spacing: 1px;
}


.flex {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.bg-pure {
  color: #2c2f75;
  border-color: #2c2f75;
  font-size: 13px;
}

.bg-pure:hover {
  border-color: #2c2f75;
  color: #FFF;
  background-color: #2c2f75;
}

.ft-13 {
  font-size: 13px;
}

.link-web {
  text-decoration: none;
}

.content-3 {
  display: none;
}

#loadMore {
  display: none;
}

.bg-primary {
  border: none;
  color: #fff;
  background-color: #2c2f75 !important;
}

.noContent {
  display: none !important;
}

.load {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bg-pure {
  color: #2c2f75;
  border-color: #2c2f75;
  font-size: 13px;
}

.bg-pure:hover {
  border-color: #2c2f75;
  color: #FFF;
  background-color: #2c2f75;
}




.italic {
  font-style: italic;
}

.card-set {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: #fff;
  border: 1px solid lightgrey;
  border-radius: 20px;
}

.pd-2 {
  padding: 20px;
}

.pd-1 {
  padding: 10px;
}

.center-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-set:hover {
  background-color: #2c2f75;
  color: #fff;
}

.title-card {
  text-align: center;
  font-weight: 500;
}

.title-card-bold {
  font-weight: 700;
}

.title-card-sm {
  text-align: justify;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 13px;
}

.ft-14 {
  font-size: 14px;
}

.set-lg {
  width: 100% !important;
}

.center-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.testimoni-title {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.testimoni-desc {
  font-style: italic;
  font-size: 15px;
  text-align: center;
}

.MultiCarousel {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  position: relative;
}

.MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all;
  float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
  float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
  text-align: center;
  margin: 10px;
  background: #ffff;
  color: #666;
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
  position: absolute;
  border-radius: 50%;
  /* top: calc(50% - 20px); */
}

.MultiCarousel .leftLst {
  left: 0;
}

.MultiCarousel .rightLst {
  right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
  pointer-events: none;
  background: #f1f1f1;
}

.bg-purple {
  background-color: #2c2f75;
  color: #fff;
}

.bg-purple:hover {
  background-color: #b28dff;
  color: #fff;
}

.responsive-card {
  margin-left: auto;
  display: block;
  margin-right: auto;
  text-align: center;
}


/* Footer */
.footer-bg {
  background-color: var(--primary-color);
}

.card-footer {
  background-color: var(--light-color);
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-content-desc {
  color: var(--light-color);
  font-size: 13px;
  line-height: 25px;
}

@media (max-width: 991px) {
  .card-footer {
    display: none;
  }
}

/* End Footer */


/* Additional */
.ml-1 {
  margin-left: -10px;
}

.ml-12 {
  margin-left: -12px;
}

.nav-link {
  font-size: 15px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-10 {
  margin-top: 100px;
}

/* End Additional */